// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.syntax--source.syntax--mcfunction {

	.syntax--selector {
		color: #80ff80;
	}

	.syntax--argument {
		color: #80ff80;
		.syntax--name {
			color: #009700;
		}
	}

	.syntax--nbt-object {
		color: #8594fe;
	}
	.syntax--nbt-key {
		color: #3851fe;
	}
	.syntax--nbt-array {
		color: #d385fe;
		.syntax--nbt-object {
			color: #d385fe;
			.syntax--nbt-key {
				color: #8b48af;
			}
		}
		.syntax--nbt-string {
			color: #8b48af;
		}
		.syntax--nbt-number {
			color: #d385fe;
		}
	}
	.syntax--nbt-string {
		color: #fdab02;
	}
	.syntax--nbt-number {
		color: #8594fe;
	}

	.syntax--command {
		color: white;
	}
	.syntax--coord {
		color: red;
	}
	.syntax--number {
		color: red;
	}
	.syntax--comment {
		color: #688684;
	}

	.syntax--string {
		color: #fdab02;
	}
}
